#about
    .reverse
        display: flex
        flex-direction: row-reverse
    .txt
        h1
            font-size: 52px
            font-weight: 700
            margin-top: 80px
        h2
            font-size: 25px
            margin: 20px
            color: #a4a4a4
    .textbox
        text-align: left
        width: 76%
        h1,h2
            font-size: 30px
            font-weight: 700
        h2
            margin-top: 10px
        h3
            font-size: 19px
            line-height: 1.4
            color: #a4a4a4
    .txt-right
        width: 38%
        margin-left: 30px
        text-align: left
    .imgbox
        max-width: 100px
        height: 35%
        border: 7px solid #8a8a8a
        border-radius: 50%
        margin-right: 20px
    .yellowcircle
        h1
            text-align: center
            background-color: #ffc800
            color:#ffffff 
            font-size: 16px
            font-weight: 700
            line-height: 1
            width: 103px
            border: 7px solid #fff
            border-radius: 50%
            padding: 16px 50px                                            
