header
    position: sticky
    bottom: 750px
    width: 100%
    padding: 30px
    background-color: #212529
    .menu
        .imgbox
            width: 150px
        nav
            a
                font-size: 18px
                margin: 10px
                cursor: pointer
                &:hover
                    color: #ffc800
    @media screen and ( max-width: 991px  )
        position: sticky
        bottom: 750px
        width: 100%
        padding: 30px
        background-color: #212529
        .menu
            .imgbox
                width: 300px
            nav
                a
                    font-size: 18px
                    margin: 5px
