body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox img {
  width: 100%;
}

section {
  padding: 100px 0;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 15px;
  background-color: #212529;
}
header .menu .imgbox {
  width: 200px;
}
header .menu nav a {
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}
header .menu nav a:hover {
  color: #ffc800;
}
@media screen and (max-width: 991px) {
  header .menu .imgbox {
    width: 426px;
  }
  header .menu nav a {
    font-size: 18px;
    margin: 5px;
  }
}

#welcome {
  background-image: url("assets/header-bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 150px 0;
}
#welcome .textbox {
  color: #fff;
  padding: 150px 0;
}
#welcome .textbox h3 {
  font-size: 50px;
}
#welcome .textbox h1 {
  font-size: 95px;
  font-weight: 700;
  margin: 40px 0 80px;
}
#welcome .textbox .btn {
  background-color: #ffc800;
  padding: 20px 60px;
}
#welcome .textbox .btn h2 {
  font-weight: 700;
  font-size: 23px;
  color: #fff;
}
#welcome .textbox .btn:hover {
  background-color: #d3a705;
}
@media screen and (max-width: 768px) {
  #welcome {
    padding: 100px 0;
  }
  #welcome .textbox {
    padding: 50px 0;
  }
  #welcome .textbox h3 {
    font-size: 30px;
  }
  #welcome .textbox h1 {
    font-size: 60px;
    margin: 20px 0 40px;
  }
  #welcome .textbox .btn {
    padding: 15px 40px;
  }
}

#services .textbox h1 {
  font-size: 50px;
  font-weight: 700;
}
#services .textbox h4 {
  font-size: 20px;
  margin: 20px 0 70px;
  color: #b5b5b5;
}
#services .box {
  text-align: center;
}
#services .box .icon {
  border-radius: 80px;
  width: 130px;
  padding: 30px 0;
  background-color: #fc0;
  color: #fff;
  font-size: 65px;
  margin-left: 140px;
}
#services .box h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 18px 0;
}
#services .box h4 {
  line-height: 1.4;
  font-size: 20px;
  color: #686868;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  #services .box .icon {
    margin-left: 87px;
  }
}
@media screen and (max-width: 991px) {
  #services .box .icon {
    margin-left: 43px;
  }
}
@media screen and (max-width: 767px) {
  #services .box .icon {
    margin-left: 200px;
  }
}
@media screen and (max-width: 544px) {
  #services .box .icon {
    margin-left: 100px;
  }
}

#portfolio {
  background-color: #f6f6f6;
}
#portfolio h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 50px 0 20px;
}
#portfolio h3 {
  color: #7d7d7d;
  margin: 0 0 66px;
}
#portfolio .box {
  background-color: #f1f1f1;
}
#portfolio .box .overlay .icon {
  display: none;
}
#portfolio .box .overlay:hover {
  position: relative;
}
#portfolio .box .overlay:hover .yellow {
  width: 416px;
  height: 312px;
  background-color: #ffc800;
  position: absolute;
  transition: 0.4s;
  top: 0;
}
#portfolio .box .overlay:hover .icon {
  display: block;
  position: absolute;
  top: 120px;
  left: 170px;
  color: #fff;
  font-size: 70px;
}
#portfolio .box .textbox {
  text-align: center;
}
#portfolio .box .textbox h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 15px 0 20px;
}
#portfolio .box .textbox h3 {
  color: #878787;
}
@media screen and (max-width: 991px) {
  #portfolio .box .textbox h2 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  #portfolio .box .textbox h3 {
    color: #878787;
  }
}

#about .txt h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
#about .txt h3 {
  color: #aeadad;
  font-size: 20px;
}
#about .textbox h2 {
  font-size: 27px;
  font-weight: 700;
}
#about .textbox h4 {
  color: #808080;
}
#about .imgbox {
  width: 120px;
  overflow: hidden;
}/*# sourceMappingURL=style.css.map */