body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 100px 0;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 15px;
  background-color: #212529;
}
header .menu .imgbox {
  width: 200px;
}
header .menu nav a {
  font-size: 18px;
  margin: 10px;
  cursor: pointer;
}
header .menu nav a:hover {
  color: #ffc800;
}
@media screen and (max-width: 991px) {
  header .menu .imgbox {
    width: 426px;
  }
  header .menu nav a {
    font-size: 18px;
    margin: 5px;
  }
}

#welcome {
  background-image: url("assets/header-bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 150px 0;
}
#welcome .textbox {
  color: #fff;
  padding: 150px 0;
}
#welcome .textbox h3 {
  font-size: 50px;
}
#welcome .textbox h1 {
  font-size: 95px;
  font-weight: 700;
  margin: 40px 0 80px;
}
#welcome .textbox .btn {
  background-color: #ffc800;
  padding: 20px 60px;
}
#welcome .textbox .btn h2 {
  font-weight: 700;
  font-size: 23px;
  color: #fff;
}
#welcome .textbox .btn:hover {
  background-color: #d3a705;
}
@media screen and (max-width: 768px) {
  #welcome {
    padding: 100px 0;
  }
  #welcome .textbox {
    padding: 50px 0;
  }
  #welcome .textbox h3 {
    font-size: 30px;
  }
  #welcome .textbox h1 {
    font-size: 60px;
    margin: 20px 0 40px;
  }
  #welcome .textbox .btn {
    padding: 15px 40px;
  }
}

#services .textbox h1 {
  font-size: 50px;
  font-weight: 700;
}
#services .textbox h4 {
  font-size: 20px;
  margin: 20px 0 70px;
  color: #b5b5b5;
}
#services .box {
  text-align: center;
}
#services .box .icon {
  border-radius: 80px;
  width: 130px;
  padding: 30px 0;
  background-color: #fc0;
  color: #fff;
  font-size: 65px;
  margin-left: 140px;
}
#services .box h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 18px 0;
}
#services .box h4 {
  line-height: 1.4;
  font-size: 20px;
  color: #686868;
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  #services .box .icon {
    margin-left: 87px;
  }
}
@media screen and (max-width: 991px) {
  #services .box .icon {
    margin-left: 43px;
  }
}
@media screen and (max-width: 767px) {
  #services .box .icon {
    margin-left: 200px;
  }
}
@media screen and (max-width: 544px) {
  #services .box .icon {
    margin-left: 100px;
  }
}

#portfolio {
  background-color: #f6f6f6;
}
#portfolio h1 {
  font-weight: 700;
  font-size: 40px;
  margin: 50px 0 20px;
}
#portfolio h3 {
  color: #7d7d7d;
  margin: 0 0 66px;
}
#portfolio .box {
  background-color: #f1f1f1;
}
#portfolio .box .overlay .icon {
  display: none;
}
#portfolio .box .overlay:hover {
  position: relative;
}
#portfolio .box .overlay:hover .yellow {
  width: 416px;
  height: 312px;
  background-color: #ffc800;
  position: absolute;
  transition: 0.4s;
  top: 0;
}
#portfolio .box .overlay:hover .icon {
  display: block;
  position: absolute;
  top: 120px;
  left: 170px;
  color: #fff;
  font-size: 70px;
}
#portfolio .box .textbox {
  text-align: center;
}
#portfolio .box .textbox h2 {
  font-weight: 700;
  font-size: 30px;
  margin: 15px 0 20px;
}
#portfolio .box .textbox h3 {
  color: #878787;
}
@media screen and (max-width: 991px) {
  #portfolio .box .textbox h2 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  #portfolio .box .textbox h3 {
    color: #878787;
  }
}

#about .boxe {
  width: 55%;
  margin-left: 30px;
}
#about .marginleft1 {
  margin-left: 129px;
}
#about .marginleft2 {
  margin-left: 134px;
}
#about .reverse {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#about .txt h1 {
  font-size: 52px;
  font-weight: 700;
  margin-top: 80px;
}
#about .txt h2 {
  font-size: 25px;
  margin: 20px;
  color: #a4a4a4;
}
#about .textbox {
  text-align: left;
  width: 56%;
}
#about .textbox h1, #about .textbox h2 {
  font-size: 25px;
  font-weight: 700;
}
#about .textbox h3 {
  font-size: 19px;
  line-height: 1.4;
  color: #a4a4a4;
  margin-top: 10px;
}
#about .txt-left {
  width: 38%;
  margin-left: 30px;
  text-align: left;
  margin-right: 33px;
  padding-right: 74px;
}
#about .imgbox {
  max-width: 148px;
  min-width: 146px;
  height: 148px;
  border: 7px solid #dadada;
  border-radius: 50%;
  margin-right: 20px;
}
#about .yellow h1 {
  text-align: center;
  background-color: #ffc800;
  color: #ffffff;
  border: 8px solid #ededed;
  border-radius: 50%;
  width: 148px;
  height: 148px;
  padding-top: 25px;
  font-size: 25px;
}
@media screen and (max-width: 1399px) {
  #about .box {
    padding-left: 84px;
  }
  #about .marginleft1 {
    margin-left: 97px;
  }
  #about .marginleft2 {
    margin-left: 100px;
  }
  #about .reverse h3 {
    margin-left: 41px;
  }
}
@media screen and (max-width: 1200px) {
  #about .box {
    padding-left: 115px;
  }
  #about .marginleft1 {
    margin-left: 49px;
  }
  #about .marginleft2 {
    margin-left: 55px;
  }
  #about .reverse h3 {
    margin-left: 41px;
  }
}
@media screen and (max-width: 991px) {
  #about .box {
    padding-left: 115px;
  }
  #about .box .txt-left {
    width: 41%;
    margin-left: 11px;
    margin-right: 9px;
    padding-right: 1px;
  }
  #about .marginleft1 {
    margin-left: 49px;
  }
  #about .marginleft1 h2 {
    margin-left: 58px;
  }
  #about .marginleft2 {
    margin-left: 55px;
  }
  #about .marginleft2 h2 {
    margin-left: 18px;
  }
  #about .reverse h3 {
    margin-left: -68px;
  }
}
@media screen and (max-width: 760px) {
  #about .txt h2 {
    font-size: 20px;
  }
  #about .marginleft1 {
    display: flex;
    flex-direction: row-reverse;
    margin-left: -16px;
  }
  #about .marginleft1 .reverse {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #about .marginleft1 .reverse h1 {
    margin-left: 12px;
  }
  #about .marginleft1 .reverse h2 {
    width: 143%;
    margin-left: 10px;
    margin-right: 49px;
  }
  #about .marginleft1 .reverse h3 {
    margin-left: -136%;
    padding-left: 222px;
    margin-right: -227px;
  }
  #about .marginleft1 .imgbox {
    max-width: 93px;
    min-width: 79px;
    height: 79px;
    border: 7px solid #dadada;
    border-radius: 50%;
    margin-right: 12px;
  }
  #about .box {
    padding-left: 26px;
    margin-left: -98%;
    margin-right: 29px;
  }
  #about .box .imgbox {
    max-width: 93px;
    min-width: 79px;
    height: 89px;
    border: 7px solid #dadada;
    border-radius: 50%;
    margin-right: 7px;
  }
  #about .marginleft2 {
    display: flex;
    flex-direction: row-reverse;
    margin-left: -16px;
  }
  #about .marginleft2 .reverse {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #about .marginleft2 .reverse h1 {
    margin-left: 11px;
    margin-right: -10px;
  }
  #about .marginleft2 .reverse h2 {
    width: 159%;
    margin-left: 10px;
    margin-right: 54px;
  }
  #about .marginleft2 .reverse h3 {
    margin-left: -136%;
    padding-left: 222px;
    margin-right: -227px;
  }
  #about .marginleft2 .imgbox {
    max-width: 98px;
    min-width: 87px;
    height: 82px;
    border: 7px solid #dadada;
    border-radius: 50%;
    margin-right: 12px;
  }
  #about .yellow {
    padding-right: 96%;
  }
  #about .yellow h1 {
    width: 98px;
    height: 98px;
    padding-top: 14px;
    font-size: 18px;
  }
}
@media screen and (max-width: 566px) {
  #about .box {
    padding-left: 179px;
  }
  #about .box .textbox h3 {
    width: 26vh;
  }
  #about .boxe {
    padding-left: -26px;
  }
  #about .boxe .textbox {
    margin-right: 26px;
  }
  #about .boxe .textbox h1 {
    margin-left: 51px;
    margin-right: -114px;
  }
  #about .boxe .textbox h2 {
    margin-left: 47px;
  }
  #about .boxe .textbox h3 {
    width: 57vh;
    padding-left: 276px;
  }
  #about .boxe .imgbox {
    margin-right: -24px;
    max-width: 81px;
  }
}
@media screen and (max-width: 366px) {
  #about .boxe {
    margin-right: -1px;
  }
  #about .boxe .textbox h3 {
    width: 48vh;
    padding-left: 186px;
  }
}/*# sourceMappingURL=style.css.map */